
@font-face {
    font-family: samurai;
    src: url(font/samurai.ttf);
}

body {
	background-color: black;
	font-family: samurai;
	line-height: 2;
}

.main {
	background-color: white;
	margin-top: 110px;
	padding-left: 100px;
	min-width: 1200px;
	height: 500px;
}

.ryu {
	float: left;
}

.ryu-ready,
.ryu-still,
.ryu-throwing,
.ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready,
.ryu-throwing,
.ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
 	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
  background-repeat: no-repeat;
}

.text {
	position: absolute;
	left: 650px;
	width: 600px;
}

.text p {
	padding: 60px;
}

.text p span {
	font-size: 1.5em;
}

.hadouken {
  background-image: url('../images/hadouken.gif');
  width: 156px; 
  height: 90px;
  display: none;
  position: relative;
  top: 170px;
  left: -210px;
  float: left;
}

